.dashboard {
	background-color: yellow;
	min-height: inherit;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: s;

	&-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
}