.developers {
	align-self: center;
	text-align: center;
	margin-top: 5rem;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 34px;

	letter-spacing: 1px;


	color: #14142B;
}